<h1>New Movie</h1>

<%= render 'form' %>

<%= link_to 'Back', movies_path %>

<%= form_for :movie, url: movies_path do |f| %>

  <% if @movie.errors.any? %>
  <div id="error_explaination">
    <h2>
      <%= pluralize(@movie.errors.count, "error") %>
      prohibited
      this movie from being saved:
    </h2>
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </p>

  <p>
    <%= f.label :genre %><br>
    <%= f.text_area :genre %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

  <%= link_to 'Back', movies_path %> -->
